# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local


# Node modules
/hardhat_test/node_modules

# Compilation output
/hardhat_test/dist

# pnpm deploy output
/hardhat_test/bundle

# Hardhat Build Artifacts
/hardhat_test/artifacts

# Hardhat compilation (v2) support directory
/hardhat_test/cache

# Typechain output
/hardhat_test/types

# Hardhat coverage reports
/hardhat_test/coverage



# Node modules
/hardhat2_test/node_modules

# Compilation output
/hardhat2_test/dist

# pnpm deploy output
/hardhat2_test/bundle

# Hardhat Build Artifacts
/hardhat2_test/artifacts

# Hardhat compilation (v2) support directory
/hardhat2_test/cache

# Typechain output
/hardhat2_test/types

# Hardhat coverage reports
/hardhat2_test/coverage



/hardhat_kl/node_modules

# Hardhat files
/hardhat_kl/cache
/hardhat_kl/artifacts

# TypeChain files
/hardhat_kl/typechain
/hardhat_kl/typechain-types

# solidity-coverage files
/hardhat_kl/coverage
/hardhat_kl/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/hardhat_kl/ignition/deployments/chain-31337




# Node modules
/meta_token/node_modules

# Compilation output
/meta_token/dist

# pnpm deploy output
/meta_token/bundle

# Hardhat Build Artifacts
/meta_token/artifacts

# Hardhat compilation (v2) support directory
/meta_token/cache

# Typechain output
/meta_token/types

# Hardhat coverage reports
/meta_token/coverage